@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');



body{
  background-color: black;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hexamid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: #ffee91;
  transform: rotate(90deg);
  box-shadow: inset 0px 0px 20px 5px #514231;
}

.hexa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: #ffee91;
  transform: rotate(90deg);
  box-shadow: inset 0px 0px 20px 5px #514231;
  transition: background 0.3s;
}

.hexa:hover{
  background: #dea36c;
}

.hexa a{
  color: black;
  transform: rotate(-90deg);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-family: "Comfortaa", sans-serif;


}

.logo{
  transform: rotate(-90deg);
  scale: 75%;

}

.white{
  background-color: white;
}


.hexa1{
  display: flex;
  
}


.hexa2{
  display: flex;
}

.hexa3{
  display: flex;
}