.custom-shape-divider-bottom-1764892962 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1764892962 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 132px;
}

.custom-shape-divider-bottom-1764892962 .shape-fill {
    fill: #141204;
}

.tab-btn.border-blue-600 {
    border-color: #2563eb !important; /* correspond à tailwind blue-600 */
}
.tab-btn.text-blue-600 {
    color: #2563eb !important;
}
.tab-content.hidden {
    display: none;
}

@font-face {
    font-family: "ClashGrotesk";
    src: url("../fonts/ClashGrotesk-semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}